<p>
  <strong>Title:</strong>
  <%= @message.recipient %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @message.image %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>

<%= link_to 'Back', messages_path, class: 'btn btn-md btn-warning' %>